    <mat-card-content>
        <p>{{titulo}}</p>
        <br>
        <h1>{{price}}</h1>
        <br>
        <mat-divider></mat-divider>
        <br>
        <p>{{texto1}}</p>
        <br>
        <mat-divider></mat-divider>
        <br>
        <p>{{texto2}}</p>
        <br>
        <mat-divider></mat-divider>
        <br>
        {{texto3}}
        <br><br>
        <mat-divider></mat-divider>
        <br>
        <button mat-raised-button color="primary" (click)="openSnackBar('message.value', 'action.value')">Learn more</button> 
    </mat-card-content>



