<h2 class="pricing">Our Pricing</h2>
<header class="toggle">
    Annualy<mat-slide-toggle color="primary" (click)="openSnackBar2('message.value', 'action.value')"></mat-slide-toggle>Monthly
</header>

<div class=wrapper>

<app-card class="basic"
titulo="Basic"
price="$19.99"
texto1="500 GB Storage"
texto2="2 Users Allowed"
texto3="Send up to 3 GB">
</app-card>


<app-card class="professional"
titulo="Professional"
price="$29.99"
texto1="1 TB Storage"
texto2="5 Users Allowed"
texto3="Send up to 10 GB">
</app-card>


<app-card class="master"
titulo="Master"
price="$39.99"
texto1="2 TB Storage"
texto2="10 Users Allowed"
texto3="Send up to 20 GB">
</app-card>

</div>